<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<section>
			<h1>좌측메뉴</h1>
			<div class="wrap">
				<ul>
					<li>
						<a href="/"> HOME</a>
					</li>
					<li>
						<dl>
							<dt>상품</dt>
							<dd>
								<ol>
									<li>리스트</li>
									<li>등록</li>
								</ol>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>비주얼이미지</dt>
							<dd>
								<ol>
									<li>리스트</li>
									<li>등록</li>
								</ol>
							</dd>
						</dl>
					</li>
					
				</ul>
			</div>
		</section>
		<main>
			<h1>내용</h1>
			<div class="wrap">
			</div>
		</main>
	</body>
</html>