<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div th:fragment="menu">
			<a href="/">Home</a>&nbsp;&nbsp;
			<th:block sec:authorize="hasRole('ROLE_USER')">
				<a href="/member">회원전용</a>&nbsp;&nbsp;
			</th:block>
			<th:block sec:authorize-url="/admin">
				<a href="/admin">관리자페이지</a>&nbsp;&nbsp;
			</th:block>
			<th:block sec:authorize="isAnonymous()">
				<a href="/login">로그인</a>
			</th:block>				
			<th:block sec:authorize="isAuthenticated()">
				<a  href="/logout">로그아웃</a>
			</th:block>
		</div>
		
		인덱스 페이지
	</body>
</html>