@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
h1{position: absolute; left: -9999px}
li{list-style: none;}

.view-size{
	width: 800px;
	margin: 0 auto;
}
.member-size{
	width: 460px;
	margin: 0 auto;
}

.flex{
	display: flex;
}
.center{
	justify-content: center;
}
.between{
	justify-content: space-between;
}

.ptit{
	font-size: 18px;
	font-weight: 700;
	padding: 20px;
}
